.split-pane {
    -fx-background-color: black;
}

.scroll-pane {
    -fx-background: black;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

#gridPane {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: darkorange;
    -fx-alignment: center;
}

.choice-box {
    -fx-min-width: 150;
    -fx-max-width: 200;
    -fx-text-fill: darkorange;
    -fx-background-color: #333333;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.choice-box .context-menu {
    -fx-min-width: 150;
    -fx-max-width: 200;
    -fx-x: 50;
    -fx-background-color: #333333;
    -fx-text-alignment: center;
    -fx-text-fill: darkorange;
}