#gamePane {
    -fx-background-color: black;
}

#vboxStatic {
    -fx-padding: 0, 0, 0, 0;
}

.label {
    -fx-text-fill: darkorange;
    -fx-alignment: center;
}

.choice-box {
    -fx-min-width: 100;
    -fx-max-width: 125;
    -fx-text-fill: darkorange;
    -fx-background-color: #333333;
    -fx-alignment: center;
}

.choice-box .context-menu {
    -fx-background-color: #333333;
    -fx-text-alignment: center;
    -fx-text-fill: darkorange;
}

