#pane {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: darkorange;
}

.choice-box {
    -fx-text-fill: darkorange;
    -fx-background-color: #333333;
    -fx-alignment: center;
}

.choice-box .context-menu {
    -fx-background-color: #333333;
    -fx-text-alignment: center;
    -fx-text-fill: darkorange;
    -fx-pref-width: 146;
}

.button {
    -fx-text-fill: darkorange;
    -fx-background-color: #333333;
}

